body {
  font-family: monospace;;
  font-size: 10pt;
  margin : 0px;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;;
}

#appheader {
  background-color: #16c;
  height : 40px;
  line-height: 40px;
  color : white;
}
#appnav {
  color : gray;
  border-bottom-color: #eee;
  border-width: 0 0 1px;
  border-style: solid;
  height : 30px;
  line-height: 30px;
  margin : 0px;
}
  #appnav ul {
    padding : 0px;
  }
  #appnav li{
    color : #1cf;
    background-color: #eee;
    display: inline-block;
    padding : 0 10px;
    font-size: 9pt;
  }
  #appnav li:hover{
    background-color : #1af;
  }

}

#appbody {
  color : blue;
  height : 500px;
  background-color: #acf;
}

#appfooter .box {
  height : 10%;
  color : violet;
  display : inline-block;
  font-size: 8pt;
}

.boxedcontent {
  padding : 0 16px;
  display : block;
}


.modal {
  /*display: none;*/
  /*display: block;
  position: float;
  z-index: 1  ;
  left: 0;
  right: 0;
  top : 0;
  bottom: 0;
  width : 100%;
  height : 100%;
  overflow: auto;
  background-color: grey;
  opacity : 0.9;*/
  position: fixed; /* Stay in place */
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.75); /* Black w/ opacity */
}

.modal-content{
  /*position: float;
  width : 300px;
  position : relative;
  z-index: 2  ;
  opacity : 1;*/
  background-color: #fefefe;
  margin: auto;
  padding: 5px;
  margin: 30px auto;
  border : 2px solid #eee;
  width: 400px;
}

.modal-header{
  background: #9df;
  height: 20px;
  padding: 5 10px;
  margin : 0px;
}

.modal-body{
  background: #E2F3FC;
  height: 300px;
  padding: 20px 20px;
  margin : 0px;

}


.alignedlabel {
  width : 100px;
  display: inline-block;
  text-align: right;
}

table {
  border : 1px solid #efefef;
}
thead.columns {
  background: #9df;
  padding : 0 2px;
  margin : 0;
}
td{
  padding : 0 5px;
  margin : 0;
}

tr.highhover:hover {
  background: #aef;
}
.selected {
  background: #bef;
}

input.smallnum {
  width : 20px;
}

input[readonly] {
  background-color : #eee;
}

.personlist {
  width : 100%;
}
.navigation {
  text-align: right;
}
