<app-header id="appheader" class="boxedcontent">Loading content...</app-header>
<app-nav id="appnav" class="boxedcontent"> Nav</app-nav>
<div class="boxedcontent">
  <router-outlet class="boxedcontent"></router-outlet>
</div>
<person-form  [hidden]="showPersonForm==false">Person Form should be modal</person-form>
