
<div *ngIf="person">

  Contact(s) :

  <input #newContact placeholder="New Contact #" >
  <button (click)="addNewContact( person.id, newContact)"> Add</button>
  <ul  *ngFor="let c of person.contacts" >
    <li class="contact" > {{ c.contact }} <button (click)="deleteContact(person.id, c.id)" >x</button></li> 
  </ul>

</div>
