
<div *ngIf="person">

  Emails :

  <input #newEmail placeholder="New Email" >
  <button (click)="addEmail(person.id, newEmail)" type="button">Add</button>
  <ul *ngFor="let e of person.emails">
    <li > {{ e.email }} <button (click)="deleteEmail(person.id,e.id)" >Delete</button> </li>
  </ul>
</div>
