<br/><br/>
List of Persons :
<br/><br/>
<div class="personlist">
  <table>
    <thead>
      <td colspan="4">
        Search :  <input type="text" placeholder="Search String"  [(ngModel)]="searchString" (keyup)="filterPersons(searchString)"/>
        sort : <select #sortByColumn (change)="0">
                    <option value="firstname">First Name</option>
                    <option value="middle">Middle Name</option>
                    <option value="lastname">Last Name</option>
                    <option value="city">City</option>
                    <option value="country">Country</option>
                    <option value="creationdate">Creation Date</option>
               </select>
               <select #order (change)="0">
                           <option value="asc">Ascending</option>
                           <option value="des">Descending</option>
               </select>

      </td>
      <td class="navigation" colspan="4">
        page# : <input class="pagination" type="button" value="&lt;&lt;" (click)="goToPreviousPersonPage()">
                <input class="smallnum" [(ngModel)]="currentPageNum" value="1">
                <input class="pagination" type="button" value="&gt;&gt;" (click)="goToNextPersonPage()" >
        page size : <input class="smallnum" [(ngModel)]="currentPageSize" value="10">
      </td>
    </thead>
    <thead class="columns">
        <td> # </td>
        <!-- <td> Person ID </td> -->
        <td> Fullname </td>
        <td> City </td>
        <td> Country </td>
        <td> Contact(s) </td>
        <td> Email(s) </td>
        <td> </td>
    </thead>
    <tbody>
      <tr class="highhover" *ngFor="let p of persons | sortBy : sortByColumn.value : order.value | paginate: currentPageNum : currentPageSize  let idx = index"
            title="person id : {{p.id}}, creation date : {{p.creationdate}}"
            (click)="onSelect(p)"
            [class.selected]="p==selectedPerson">
          <td> {{idx+1}} </td>
          <!-- <td> {{p.id}} </td> -->
          <td> {{p.firstname}} {{p.middlename}} {{p.lastname}} </td>
          <td> {{p.city}} </td>
          <td> {{p.country}} </td>
          <td>
                {{ contactarrtostring(p.contacts) }}
            </td>
          <td>
                {{ emailarrtostring(p.emails) }}
            </td>
          <td>
              <a (click)="showEditPersonModal(p)">Edit</a>
              <a (click)="deletePerson(hiddenId.value)">Delete</a>
              <input #hiddenId type="hidden" value="{{p.id}}">
          </td>
      </tr>
      <tr><td colspan="8">&nbsp;</td></tr>
      <tr>
          <td class="navigation" colspan="8">
              <button (click)="showAddPersonModal()" type="submit"> Add New Person </button>
          </td>
      </tr>
    </tbody>
  </table>
</div>

<person-contacts [(person)]="selectedPerson" ></person-contacts>
<person-emails [(person)]="selectedPerson" ></person-emails>
